/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

    a.nav-link, .scene {
        display: none;
    }

    header#mobile-menu-header {
        display: inline;
        visibility: visible;
    }

    .menu-btn {
        display: block;
        position: absolute;
        z-index: 3;
        right: 35px;
        top: 35px;
        cursor: pointer;
        transition: all 0.5s ease-out; 
    }
    .menu-btn .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #43c229;
        transition: all 0.5s ease-out; 
        z-index: 3;
    }
    .menu-btn.close {
        position: fixed;
        transform: rotate(180deg); 
        z-index: 5;
    }
    .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);  
        z-index: 5;
    }
    .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; 
        z-index: 5;
    }
    .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); 
        z-index: 5;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        width: 100%;
        opacity: 0.9;
        visibility: hidden;
    }

    .mobile-menu.show{
        visibility: visible;
        z-index: 3;
    }

    .mobile-menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        margin:0;
        padding:0;
        background: rgba(57, 62, 70, 0.99) ;
        list-style: none;
        transform: translate3d(0, -100%, 0);
        transition: all 0.5s ease-out;
    }

    .mobile-menu-nav.show {
        transform: translate3d(0, 0, 0); 
    }

    .mobile-menu .nav-item {
        transform: translate3d(600px, 0, 0);
        transition: all 0.5s ease-out; }
    .mobile-menu .nav-item.show {
        transform: translate3d(0, 0, 0); 
    }
    .mobile-menu .nav-item.current > a {
        color: #43c229; 
    }
    .mobile-menu .nav-link {
        display: inline-block;
        position: relative;
        font-size: 15px;
        text-transform: uppercase;
        padding: 2rem 0;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        transition: all 0.5s ease-out; 
    }
        
    .nav-item:nth-child(1) {
      transition-delay: 0.1s; }
    
    .nav-item:nth-child(2) {
      transition-delay: 0.2s; }
    
    .nav-item:nth-child(3) {
      transition-delay: 0.3s; }
    
    .nav-item:nth-child(4) {
      transition-delay: 0.4s; }
    .nav-item:nth-child(5) {
        transition-delay: 0.5s; }
  
}