@import url('mobileMenuProjects.css');

#title-header {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.briefcase-img {
    margin-left: -5rem;
    padding-right: 3rem;
}

.project-header {
    color: #fff;
    vertical-align: middle;
    font-size: 24px;
    margin-left: -1.5rem;
    padding-left: 3.5rem;
}

a, .fa-github {
    color: #fff;
}

.git-logo, .fa-github:hover{
    cursor: pointer;
    color: #43c229;
    text-decoration: none;
}

header {
    display: none;
    visibility: hidden;
}

.project-details {
    border: 2px solid #43c229;
    border-radius: 10px;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    margin-top: 2.0rem;
    text-align: justify;
    padding: 2.0rem;
    font-size: 3vmin;
    background: rgba(57, 62, 70, 0.85);
}

.project-details-2 {
    border: 2px solid #43c229;
    border-radius: 10px;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    margin-top: 2rem;
    text-align: justify;
    padding: 2.0rem;
    font-size: 3vmin;
    background: rgba(57, 62, 70, 0.85);
}

.project-details-3 {
    border: 2px solid #43c229;
    border-radius: 10px;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    margin-top: 2rem;
    text-align: justify;
    padding: 2.0rem;
    margin-bottom: 2.0rem;
    font-size: 3vmin;
    background: rgba(57, 62, 70, 0.85);
}

.proj-name, .proj-name-2, .proj-name-3 {
    display: flex;
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: 4vmin;
}

.proj-date {
    width: 72%;
    text-align: right;
}
.proj-date-2 {
    width: 88%;
    text-align: right;
}
.proj-date-3 {
    width: 81%;
    text-align: right;
}

.more-info{
    width: 100%;
    text-align: right;
    font-weight: 500;
    color: #fff;
}

a, .more-info:hover {
    cursor: pointer;
    color: #43c229;
    text-decoration-line: underline;
}

.horizontal-grid {
    display: grid;   
    text-align: justify;
    font-size: 3vmin;
    border: 2px solid #43c229;
    border-radius: 10px;
    grid-template-columns: 33% 33% 33%;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    background: rgba(57, 62, 70, 0.85);

}

a.nav-link {
    display: block;
    font-size: 20px;
    transform: translateY(35px);
    text-align: center;
    text-decoration: none;
    color: rgba(57, 62, 70, 0.9);
}

.nav-bar {
    position: fixed;
    z-index: 2;
    width: 7%;
}

.scene {
    width: 100px;
    height: 100px;
}

.box {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
    transform-origin: 0 0;
}

.scene:hover .box {
    transform: rotateY(-90deg);
    cursor: pointer;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    }

.front {
    transform: rotateY(0deg);
    color: #43c229;
    text-align: center;    
}
.fas, .fab {
    font-size: 20px;
    transform: translateY(30px);
}

.right {
    cursor: pointer;
    transform: rotateY(80deg);
    left: -80px;
    background-color: #43c229;
    color: rgba(57, 62, 70, 0.9);   
    font-size: 20px;
}

body {
    background: rgba(57, 62, 70, 0.85);
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5; 
}


body#bg-proj-img {
    background: url(../image/code.jpg);
    background-attachment: fixed;
    background-repeat: space;
    background-size: 100% 100%;
}

body#bg-proj-img:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(57, 62, 70, 0.85); 
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    background: rgba(57, 62, 70, 0.9);
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgba(57, 62, 70, 0.9);
    box-shadow: inset 0 0 10px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background:#fff; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff; 
}